@mixin card-hover {
    transition: transform 0.3s ease;

    &:hover {
        transform: translateY(-10px);
    }
}

$mobile: 375px;

@mixin responsive($size) {
    @if $size == $mobile { 
        @media screen and (max-width: $mobile) { @content; }
    }
}

@mixin text-style($size, $margin) {
    font-size: $size;
    margin: $margin;
}
