@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$primary-color: #ff6060;
$white: #ffffff;
$font-size-medium: 17px;
$font-size-large: 24px;
$background-light: #F6F6F6;
$background-card: #f5f5f5;
$text-color: #333;
$border-radius: 10px;
$shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$main-font: 'Montserrat', sans-serif;