.dropdown-list {
    width: 60%;
    margin-left: 18%;
    margin-right: 0;
  }
  
  .dropdown-item {
    margin-bottom: 19px;
    width: 100%;
  }
  
  .dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color: black;
    background-color: #FF6060;
    color: white;
    font-weight: bold;
  }
  
  .dropdown-content {
    padding: 10px;
    font-size: 15px;
    background-color: #F6F6F6; 
    color: black;
    font-weight: 300;
  }
  
  @media screen and (max-width: 480px) {
    .dropdowns-container{
      margin-left: 6%;
    }
  }