.dropdown-list {
    width: 60%;
    margin-left: 18%;
    margin-right: 0;
  }
  
  .dropdown-item {
    margin-bottom: 10px;
    width: 100%;
  }
  
  .dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    background-color: white;
    color: black;
    background-color: #FF6060; /* Fond rouge pour la ligne */
    color: white;
    font-weight: bold;
  }
  
  .dropdown-content {
    padding: 10px;
    font-size: 16px;
    background-color: #F6F6F6; /* Le fond normal pour la zone de texte */
    color: black;
  }
  