.logement-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  
    .logement-image {
        width: 90%;
        max-height: 415px;
        object-fit: cover;
        border-radius: 25px;
        margin-top: 10%; 
      }      
  
    .logement-info {
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin-top: 20px;
  
      .logement-details {
        flex: 1;
  
        h1 {
          font-size: 24px;
          margin: 0;
          color: #ff6060;
          font-weight: 500;
        }
  
        .location {
          font-size: 16px;
          color: black;
        }
  
        .tags {
          display: flex;
          gap: 10px;
          margin-top: 10px;
  
          .tag {
            background-color: #ff6060;
            color: white;
            padding: 3px 20px;  
            border-radius: 10px; 
            min-width: 95px; 
            text-align: center;
            display: inline-block;
          }          
        }
      }
  
      .logement-host {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
  
        .host-info {
          display: flex;
          align-items: center;
          gap: 10px;
  
          .host-picture {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
  
        .rating {
          margin-top: 10px;
  
          .star {
            font-size: 20px;
            color: lightgray;
          }
  
          .filled {
            color: #ff6060;
          }
        }
      }
    }
    /* Logement.scss */
/* Logement.scss */
.dropdowns-container {
    display: flex;
    justify-content: space-between;  /* Équilibre l'espace entre les deux sections */
    margin-top: 20px;
    width: 90%;
  }
  
  .dropdown {
    width: 48%;  /* Prend environ la moitié de l'espace, ajustable selon tes besoins */
  }
  
  .dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff6060;  /* Fond rouge */
    padding: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .arrow {
    transition: transform 0.3s ease;
  }
  
  .arrow.open {
    transform: rotate(180deg);  /* Rotation de la flèche quand la section est ouverte */
  }
  
  .dropdown-content {
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    height: 70%;
  }
  
  .dropdown-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-content li {
    padding: 5px 0;
  }  

  .dropdown-content p {
    margin-top: 8px;
  }
  
  }
  